<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ingredient Form</title>

    <!-- Next two lines are for bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"
            th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"></script>

    <!-- Jquery included by dependency of bootstrap -->
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!--/*@thymesVar id="ingredient" type="es.springframework.springrecipeswebapp.commands.IngredientCommand"*/-->
            <form  th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.recipeId} + '/ingredient'} " method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Ingredient Information</h1>
                        </div>
                        <div class="panel-body">


                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Amount:</label>
                                    <input type="number" class="form-control" th:field="*{amount}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Unit Of Measure:</label>
                                    <select class="form-control" name="unitOfMeasure.id">
                                        <option th:each="uomEach : ${uomList}"
                                                th:value="${uomEach.id}"
                                                th:selected="${uomEach.id.equals(ingredient.unitOfMeasure.id)}"
                                                th:text="${uomEach.description}">Each</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>